.homepage .heroScreen {
  /* background: url("../../../images/heroWallpaper.jpg"); */
  background-repeat: no-repeat;
  height: 34rem;
  background-size: 54rem;
  background-position-x: right;
  background-blend-mode: multiply;
}
.homepage .leftColumn {
  color: white;
  /* backdrop-filter: contrast(0.5); */
  background-color: #08214b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.homepage .rightColumn {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.homepage .leftColumn > div,
.homepage .rightColumn > div {
  max-width: 35rem;
  z-index: 1;
}

.homepage .heroScreen .heroScreen_btn {
  /* border: 1px solid; */
  background-color: white;
  text-transform: uppercase;
  outline: none;
  color: rgb(87, 87, 87);
  border: 1px solid transparent;
}
.homepage .heroScreen .heroScreen_btn:hover {
  /* color: black; */
  background-color: #1163df;
  color: white;
  border: 1px solid white;
}
.homepage .rightColumn {
  background-color: #4883db;
}
.homepage .heroScreen img {
  position: absolute;
  opacity: 0.09;
  width: 59%;
  right: 50%;
  transform: translateX(50%);
}

.homepage .section-1 .leftContent img {
  width: 100%;
}
.homepage .section-1 .section1_block2 {
  background-color: #f2f2f2;
}

.homepage .section-2 .leftBox {
  background-color: #08214b;
  /* height: 10rem; */
}
.homepage .section-2 .rightBox {
  background-color: #4883db;
}
.homepage .section-2 .leftBox > div,
.homepage .section-2 .rightBox > div {
  max-width: 22rem;
  color: white;
}
.homepage .section-2 button {
  color: white;
  border: 1px solid;
}
.homepage .section-2 button:hover {
  background-color: #5555c5;
}
.homepage .section-1 .contentWrite p {
  color: gray;
}
.homepage .section-1 .contentWrite {
  max-width: 33rem;
}
.homepage .section-1 .contentWrite button {
  background-color: #4883db;
  border: transparent;
}
.homepage .section-1 .contentWrite button:hover {
  background-color: rgb(75, 75, 235);
}

.homepage .section-3 img {
  width: 10rem;
}
.homepage .section-3 .contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
}
.section-3 {
  background-color: aliceblue;
}
.homepage .section-3 .contentBox > div {
  margin-top: 2.5rem;
  text-align: left;
}
.homepage .section-3 .contentBox p {
  color: gray;
}
.homepage .section-3 .contentBox h3 {
  font-size: 1.2rem;
}

@media screen and (max-width: 575px) {
  .homepage .section-1 .leftContent img {
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
  .homepage .section-1 .section1_block2 {
    margin-top: 1rem;
  }
  .homepage .section-2 .rightBox > div {
    margin-left: auto !important;
    margin-right: auto;
  }
  .homepage .section-3 .contentBox > div {
    text-align: center;
  }
  .homepage .section-3 .contentBox {
    padding-left: 0;
  }
  .homepage .leftColumn,
  .homepage .rightColumn {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
